version: 2

variables:
  defaults: &defaults
    docker:
      - image: continuumio/miniconda3:4.7.10
    working_directory: ~/repo
    environment:
      GIT_LFS_SKIP_SMUDGE: "1"
  install_sys_deps: &install_sys_deps
    run:
      name: install build-essential
      command: apt-get update && apt-get install -y build-essential libz-dev libcurl3-dev
  install_gitlfs: &install_gitlfs
    run:
      name: Install git-lfs
      command: conda install --yes -c conda-forge git-lfs && git lfs install
  restore_cache: &restore_cache
    restore_cache:
      keys:
        - source-v2-{{ .Branch }}-{{ .Revision }}
        - source-v2-{{ .Branch }}-
        - source-v2-master-
        - source-v2-
  save_cache: &save_cache
    save_cache:
      key: source-v2-{{ .Branch }}-{{ .Revision }}
      paths:
        - ".git"
  setup: &setup
    run: 
      name: Setup Kipoi
      command: .circleci/setup.sh
  store_artifacts: &store_artifacts
    store_artifacts:
      path: test-reports
      destination: test-reports

jobs:

  # test only the newly added model
  test_new_models:
    <<: *defaults
    steps:
      - checkout    
      - *install_sys_deps
      - *install_gitlfs
      - *restore_cache
      - *setup
      - run:
          name: run tests
          command: kipoi test-source kipoi --git-range master HEAD --verbose
      - run:
          name: run tests in common environmnets
          command: kipoi test-source kipoi --git-range master HEAD --common_env
          no_output_timeout: 15m
      - *save_cache
      - *store_artifacts

  # test all models in the repo
  test_all_models:
    <<: *defaults
    steps:
      - checkout
      - *install_sys_deps
      - *install_gitlfs
      - *restore_cache
      - *setup
      - run:
          name: run tests
          # Use  --clean_env to remove the environment of each model
          command: kipoi test-source kipoi --all
      - run:
          name: run tests in common environments
          command: kipoi test-source kipoi --all --common_env
      - *save_cache
      - *store_artifacts
  date_release:
    <<: *defaults
    steps:
      - run:
          name: Tag and push
          command: |
            VERSION=$(date "+%Y-%m-%d")
            API_JSON=$(printf '{"tag_name": "v%s","target_commitish": "master","name": "v%s","body": "Release of version %s","draft": false,"prerelease": false}' $VERSION $VERSION $VERSION)
            curl --data "$API_JSON" https://api.github.com/repos/kipoi/models/releases?access_token=$GITHUB_TOKEN


workflows:
  version: 2

  # workflow for testing pushes and PRs
  test-models:
     jobs:
       - test_new_models:
           filters:
             branches:
               ignore:
                 - master
                 - test_all
  test-all-branch:
     jobs:
       - test_all_models:
           filters:
             branches:
               only:
                 - master
                 - test_all
                 - fix-seqvec

  # workflow for testing all the models
  # on the master branch overnight
  kipoi-nightly-test:
     triggers:
       - schedule:
           cron: "0 0 * * *"
           filters:
             branches:
               only:
                 - master
     jobs:
       - test_all_models


  weekly-tag:
     triggers:
       - schedule:
           cron: "0 0 * * 0"
           filters:
             branches:
               only:
                 - master
     jobs:
       - date_release
